<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<contents>
	<menus>
		<!-- 新华社评论后台菜单 begin -->
		<menu>
			<level>1</level>
			<parent>ArticleManage</parent>
			<value>ArticleManage</value>                <!--    一级菜单  题目视频管理 -->
			<url>/article/articlePre</url>
		</menu>
		
		<menu>
			<level>1</level>
			<parent>CommentManage</parent>
			<value>CommentManage</value>          <!--   一级菜单  知识点管理 -->
			<url>none</url>
		</menu>
		<menu>
			<level>2</level>
			<parent>CommentManage</parent>
			<value>CommentPre</value>     <!--    二级菜单  知识点视频管理 -->
			<url>/comment/commentPre</url>
		</menu>
		<menu>
			<level>1</level>
			<parent>adminUserManage</parent>
			<value>adminUserManage</value>          <!--   一级菜单  教师管理 -->
			<url>none</url>
		</menu>
		<menu>
			<level>2</level>
			<parent>adminUserManage</parent>
			<value>adminUserList</value>            <!--   二级菜单  教师管理 -->
			<url>/user/userList</url>
		</menu>
		<!--  教师管理 end   -->
		
	</menus>
</contents>