<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.shinc.orm.mybatis.mappers.comment.CommentMapper">
	<resultMap id="selectNeuterCommentMap" type="News">
		<result column="id" property="id" jdbcType="VARCHAR" />
		<result column="content" property="content" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap id="selectLocalArticleCommentsCountsMap" type="java.util.Map">
		<result column="comments_counts" property="commentsCounts" jdbcType="VARCHAR" />
		<result column="article_id" property="articlId" jdbcType="VARCHAR" />
		<result column="cmt_num" property="cmtNum" jdbcType="VARCHAR" />
		<result column="news_num" property="newsNum" jdbcType="VARCHAR" />
		<result column="auto_sum" property="autoNum" jdbcType="VARCHAR" />
		<result column="shinc_sum" property="shincNum" jdbcType="VARCHAR" />
	</resultMap>
	<select id="selectNeuterComment" resultMap="selectNeuterCommentMap" parameterType="java.lang.Integer">
		SELECT 
			ID,
			CONTENT 
		FROM 
			common_comments 
			ORDER BY RAND() 
			LIMIT #{count,jdbcType=INTEGER}		
	</select>

	<resultMap id="selectArticleListByDateMap" type="Article">
		<result column="id" property="id" jdbcType="VARCHAR" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="publish_date" property="publishDate" jdbcType="VARCHAR" />
		<result column="comment_total" property="comment" jdbcType="VARCHAR" />
		<result column="cmt_num" property="cmtNum" jdbcType="VARCHAR" />
		<result column="news_num" property="newsNum" jdbcType="VARCHAR" />
		<result column="auto_sum" property="autoNum" jdbcType="VARCHAR" />
		<result column="shinc_sum" property="shincNum" jdbcType="VARCHAR" />
	</resultMap>
	<select id="selectArticleListByDate" resultMap="selectArticleListByDateMap" >
		SELECT 
			id,
			title,
			publish_date,
			IFNULL(comment_total,'0') comment_total,
			cmt_num,
			news_num,
			auto_sum,
			shinc_sum
		FROM 
			sh_article 
		WHERE
			date_format(publish_date,'%Y-%c-%d') = str_to_date(#{publishDate},'%Y-%c-%d')
		ORDER BY 
			publish_date desc
	</select>
	
	<insert id="insertArticle" parameterType="java.util.Map" >
	    insert into 
	    	sh_article(id, title,publish_date,detail_url)
	    values 
			(#{id}, #{topic},#{releaseDate,jdbcType=TIMESTAMP},#{detailurl})
  	</insert>
  	<update id="updateArticle" parameterType="java.util.Map">
  		update 
  			sh_article
  		set
  			publish_date=#{releaseDate,jdbcType=TIMESTAMP},
  			comment_total=#{comment}
  		where
  			id=#{id}		
  	</update>
  	<select id="getLocalArticleCommentsCounts" resultMap="selectLocalArticleCommentsCountsMap" >
		SELECT 
			j.article_id,
			tb_a.cmt_num,
			tb_a.news_num,
			tb_a.auto_sum,
			tb_a.shinc_sum
		FROM 
			sh_jnl_article_comment j
		inner join
			sh_article tb_a
		on
			j.article_id = tb_a.id 
		<if test="list!=null and list.size!=0">
		where 1=1
			and send_flag='2'
			and	j.article_id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">  
				  #{item.id}  
			    </foreach>  
		</if>
		group by 
			j.article_id;
	</select>
	
	<resultMap id="getLocalCommentsNumsResMap" type="java.util.Map">
		<result column="comments_counts" property="commentsCounts" jdbcType="VARCHAR" />
		<result column="article_id" property="articlId" jdbcType="VARCHAR" />
	</resultMap>
	
	<select id="getLocalCommentsNums" resultMap="getLocalCommentsNumsResMap">
		SELECT 
			count(*) sum,date_format(adddate,'%Y-%m-%d') cal
		FROM 
			sh_jnl_article_comment
		where 
			send_flag='2' 
		group by cal 
		order by cal desc
	</select>
	
	<select id="getLocalCommentsNums2" resultMap="getLocalCommentsNumsResMap">
		select 
		date_format(tba.insert_date,'%Y-%m-%d') cal,
		tba.divisor sum
		from (SELECT * FROM spider_news.sh_comment_statistic where statistic_type='1' order by insert_date desc) tba 
		group by cal 
		order by cal desc limit 30;
	</select>
	
	<select id="getLocalCommentsNumsByDate" resultMap="getLocalCommentsNumsResMap">
		select 
			sum,cal 
		from 
			(SELECT 
				count(*) sum,date_format(adddate,'%Y-%m-%d') cal
			FROM 
				sh_jnl_article_comment
			where 
				send_flag='2' 
			group by cal 
			order by cal desc) tba 
		where 
			date_format(cal,'%Y-%c-%d') = str_to_date(#{date},'%Y-%c-%d')
	</select>
	
	<select id="getLocalCommentsNumsByDate2" resultMap="getLocalCommentsNumsResMap">
		select 
			divisor sum,date_format(insert_date,'%Y-%m-%d') cal 
		from 
			sh_comment_statistic 
		where 
			statistic_type='1' 
		and date_format(insert_date,'%Y-%c-%d') = str_to_date(#{date},'%Y-%c-%d')
		order by insert_date desc 
		limit 1;
	</select>
	
	<select id="getLocalCommentsNumsByCategory" resultMap="getLocalCommentsNumsResMap">
		select 
			sum,cal 
		from 
			(SELECT 
				count(*) sum,date_format(tb_a.adddate,'%Y-%m-%d') cal
			FROM 
				sh_jnl_article_comment tb_a
			inner join
				sh_article tb_b
			on
				tb_a.article_id = tb_b.id
			where 1 = 1
				and send_flag='2'
				and tb_b.category=#{categoryid} 
			group by cal 
			order by cal desc) tba 
		where 
			date_format(cal,'%Y-%c-%d') = str_to_date(#{date},'%Y-%c-%d')
	</select>
	
	<select id="getTodayRemoteNums" resultType="java.util.HashMap">
		select sum(cast(comment_total as unsigned integer) ) sum,curdate() cal from sh_article where publish_date > curdate()
	</select>
	
	<select id="getXhsCommentSum" resultType="java.util.HashMap">
		select 
			sum(cast(comment_total as unsigned integer) ) sum,
			date_format(publish_date,'%Y-%c-%d') cal 
		from 
			sh_article 
		where 
			date_format(publish_date,'%Y-%c-%d') = str_to_date(#{date},'%Y-%c-%d')
	</select>
	
	<select id="getXhsCommentSumByCategory" resultType="java.util.HashMap">
		select 
			sum(cast(comment_total as unsigned integer) ) sum,
			date_format(publish_date,'%Y-%c-%d') cal 
		from 
			sh_article 
		where 1 = 1
			and date_format(publish_date,'%Y-%c-%d') = str_to_date(#{date},'%Y-%c-%d')
			and category=#{categoryid}
	</select>
	
	<select id="getTodayRemoteNumsByCategory" resultType="java.util.HashMap" parameterType="java.lang.String">
		select 
			sum(cast(comment_total as unsigned integer) ) sum,
			curdate() cal 
		from 
			sh_article 
		where 1 = 1 
			and publish_date > curdate()
			and category=#{categoryid}
	</select>
	
	<select id="getArticlesNumByDate" resultType="java.util.HashMap">
		select 
			date_format(publish_date,'%Y-%c-%d') cal, count(*) sum 
		from 
			sh_article 
		where 1 = 1
			and date_format(publish_date,'%Y-%c-%d') = str_to_date(#{date},'%Y-%c-%d');
	</select>
	
</mapper>