<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.shinc.orm.mybatis.mappers.comment.CommentMapper">
	<resultMap id="selectNeuterCommentMap" type="News">
		<result column="id" property="id" jdbcType="VARCHAR" />
		<result column="content" property="content" jdbcType="VARCHAR" />
	</resultMap>
	<select id="selectNeuterComment" resultMap="selectNeuterCommentMap" parameterType="java.lang.Integer">
		SELECT 
			ID,
			CONTENT 
		FROM 
			common_comments 
			ORDER BY RAND() 
			LIMIT #{count,jdbcType=INTEGER}		
	</select>

	<resultMap id="selectArticleListByDateMap" type="Article">
		<result column="id" property="id" jdbcType="VARCHAR" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="publish_date" property="publishDate" jdbcType="VARCHAR" />
	</resultMap>
	<select id="selectArticleListByDate" resultMap="selectArticleListByDateMap" >
		SELECT 
			id,
			title,
			publish_date
		FROM 
			sh_article 
		WHERE
			date_format(publish_date,'%Y-%c-%d') = str_to_date(#{publishDate},'%Y-%c-%d')
		ORDER BY 
			publish_date desc
	</select>
	
	<insert id="insertArticle" parameterType="java.util.Map" >
	    insert into 
	    	sh_article(id, title,publish_date)
	    values 
			(#{id}, #{topic},#{releaseDate,jdbcType=TIMESTAMP})
  	</insert>
</mapper>