<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.shinc.orm.mybatis.mappers.comment.CommentMapper">
	<resultMap id="selectNeuterCommentMap" type="News">
		<result column="id" property="id" jdbcType="VARCHAR" />
		<result column="content" property="content" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap id="selectLocalArticleCommentsCountsMap" type="java.util.Map">
		<result column="comments_counts" property="commentsCounts" jdbcType="VARCHAR" />
		<result column="article_id" property="articlId" jdbcType="VARCHAR" />
	</resultMap>
	<select id="selectNeuterComment" resultMap="selectNeuterCommentMap" parameterType="java.lang.Integer">
		SELECT 
			ID,
			CONTENT 
		FROM 
			common_comments 
			ORDER BY RAND() 
			LIMIT #{count,jdbcType=INTEGER}		
	</select>

	<resultMap id="selectArticleListByDateMap" type="Article">
		<result column="id" property="id" jdbcType="VARCHAR" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="publish_date" property="publishDate" jdbcType="VARCHAR" />
		<result column="comment_total" property="comment" jdbcType="VARCHAR" />
	</resultMap>
	<select id="selectArticleListByDate" resultMap="selectArticleListByDateMap" >
		SELECT 
			id,
			title,
			publish_date,
			IFNULL(comment_total,'0') comment_total
		FROM 
			sh_article 
		WHERE
			date_format(publish_date,'%Y-%c-%d') = str_to_date(#{publishDate},'%Y-%c-%d')
		ORDER BY 
			publish_date desc
	</select>
	
	<insert id="insertArticle" parameterType="java.util.Map" >
	    insert into 
	    	sh_article(id, title,publish_date,comment_total)
	    values 
			(#{id}, #{topic},#{releaseDate,jdbcType=TIMESTAMP},#{comment})
  	</insert>
  	<update id="updateArticle" parameterType="java.util.Map">
  		update 
  			sh_article
  		set
  			publish_date=#{releaseDate,jdbcType=TIMESTAMP},
  			comment_total=#{comment}
  		where
  			id=#{id}		
  	</update>
  	<select id="getLocalArticleCommentsCounts" resultMap="selectLocalArticleCommentsCountsMap" >
		SELECT 
			count(j.article_id) as comments_counts,
			j.article_id 
		FROM 
			sh_jnl_article_comment j 
		<if test="list!=null and list.size!=0">
			where 
				article_id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">  
				  #{item.id}  
			    </foreach>  
		</if>
		group by 
			j.article_id;
	</select>
</mapper>