<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.shinc.orm.mybatis.mappers.xhscomment.JnlCommentMapper">
	<insert id="insert" parameterType="JnlComment">
		INSERT INTO sh_jnl_article_comment
		(article_id,
		adddate,
		nickname,
		content,
		content_type,
		user_id,
		comment_way,
		send_flag,
		sendtime,
		md5)
		VALUES
			(#{articleId },
			#{addDate },
			#{nickName },
			#{content },
			#{contentType },
			#{userId },
			#{commentWay },
			#{sendFlag },
			#{sendTime },
			#{md5 })
	</insert>
	
	<insert id="insertBatch" parameterType="List" >
	   INSERT INTO sh_jnl_article_comment
		(article_id,
		adddate,
		nickname,
		content,
		content_type,
		user_id,
		comment_way,
		send_flag,
		sendtime,
		md5)
		VALUES
		<foreach collection="list" item="item" index="index" separator="," >
			(#{item.articleId },
			#{item.addDate },
			#{item.nickName },
			#{item.content },
			#{item.contentType },
			#{item.userId },
			#{item.commentWay },
			#{item.sendFlag },
			#{item.sendTime },
			#{item.md5 })
		</foreach>
  	</insert>
  	
  	<resultMap id="JnlCommentResult" type="JnlComment">
		<result column="id" property="id" />
		<result column="article_id" property="articleId" />
		<result column="adddate" property="addDate" />
		<result column="nickname" property="nickName" />
		<result column="content" property="content" />
		<result column="content_type" property="contentType" />
		<result column="user_id" property="userId" />
		<result column="userName" property="userName" />
		<result column="comment_way" property="commentWay" />
		<result column="send_flag" property="sendFlag" />
		<result column="sendtime" property="sendTime" />
	</resultMap>
	
  	<select id="queryBySendFlag" resultMap="JnlCommentResult" parameterType="java.util.Map">
		SELECT 
		    a.id,
		    a.article_id,
		    a.adddate,
		    a.nickname,
		    a.content,
		    a.content_type,
		    a.user_id,
		    b.nickname userName,
		    a.comment_way,
		    a.send_flag,
		    a.sendtime
		FROM
		    sh_jnl_article_comment a
		join
			sh_admin_user b
		on
			a.user_id = b.id
		WHERE 
		    send_flag = #{SendFlag}
		    LIMIT ${limit}
	</select>
  	
  	<update id="updateCommentSendFlagBatch">
  			update sh_jnl_article_comment 
				set send_flag = #{sendFlag},
				content=#{content}
				<if test="sendTime != null">  
	                ,sendtime=#{sendTime}  
	            </if>
	      	    where id = #{id}
  	</update>
  	<update id="resetCommentSendFlag">
		UPDATE sh_jnl_article_comment 
		SET 
		    send_flag = '0'
		WHERE
		    send_flag = '1'
  	</update>
  	
  	
  	
</mapper>