<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.shinc.orm.mybatis.mappers.common.JnlMapper">
	<resultMap id="selectCommentJnlMap" type="java.util.Map">
		<result column="adddate" property="addDate" jdbcType="VARCHAR" />
		<result column="article_id" property="articleId" jdbcType="VARCHAR" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="id" property="userId" jdbcType="VARCHAR" />
		<result column="nickname" property="userNickName" jdbcType="VARCHAR" />
		<result column="send_flag" property="sendFlag" jdbcType="VARCHAR" />
	</resultMap>
	
	<insert id="insertJnlArticleComment" parameterType="java.util.Map" >
	    insert into 
	    	sh_jnl_article_comment(article_id,adddate,content,content_type,user_id,comment_way)
	    values 
			(#{articleId},now(),#{content},#{contentType},#{userId},#{commentWay})
  	</insert>
  	
	<select id="selectCommentJnl" resultMap="selectCommentJnlMap" parameterType="java.util.Map">
		SELECT 
			DATE_FORMAT(j.sendtime , '%Y-%m-%d %H:%i')  adddate,
			j.article_id,
		    a.title,
		    j.content,
		    u.id,
		    u.nickname,
		    CASE j.send_flag
				WHEN 0 THEN '待发送'
				WHEN 1 THEN '发送中'
				WHEN 2 THEN '发送成功'
				WHEN 3 THEN '发送失败'
				WHEN 4 THEN '状态未明'
				WHEN 5 THEN '测试不发送'
				ELSE '其他' END send_flag 
		from 
			sh_jnl_article_comment j,
			sh_admin_user u ,
			sh_article a 
		where 1 = 1
			and a.id=j.article_id
			and date_format(j.adddate,'%Y-%m-%d') = #{addDate}
			<if test="userId != null" >
				and j.user_id = u.id
				<if test="userId !=0">
				and	j.user_id = #{userId}
				</if>
			</if>
			<if test="articleid != null and articleid != ''">
				and j.article_id=#{articleid}
			</if>
			<if test="content != null and content != ''">
				and j.content like '%${content}%'
			</if>
		order by
			j.adddate desc
	</select>
	
	<select id="selectCommentJnlCount" resultType="java.lang.Integer" parameterType="java.util.Map">
		SELECT 
			count(*)
		from 
			sh_jnl_article_comment j,
			sh_admin_user u ,
			sh_article a 
		where 1 = 1
			and a.id=j.article_id
			and date_format(j.adddate,'%Y-%m-%d') = #{addDate}
			<if test="userId != null" >
				and j.user_id = u.id 
				<if test="userId !=0">
				and j.user_id = #{userId}
				</if>
			</if>
			<if test="articleid != null and articleid != ''">
				and j.article_id=#{articleid}
			</if>
			<if test="content != null and content != ''">
				and j.content like '%${content}%'
			</if>
			and j.send_flag='2'
	</select>
</mapper>