<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.shinc.orm.mybatis.mappers.xhscomment.AutoSendArticleMapper" >
  <resultMap id="BaseResultMap" type="AutoSendArticle" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="article_id" property="articleId" jdbcType="VARCHAR" />
    <result column="match_news_id" property="matchNewsId" jdbcType="INTEGER" />
    <result column="enabled" property="enabled" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="begindate" property="begindate" jdbcType="TIMESTAMP" />
    <result column="enddate" property="enddate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, article_id, match_news_id, enabled, user_id, begindate, enddate
  </sql>
  
  <select id="getAutoSendList" resultType="java.util.Map" parameterType="java.util.Map">
  	select
  		tba.article_id,tbd.auto_sum,tbd.title article_title,tba.match_news_id,tbb.title match_title,tbc.nickname,tba.enabled,tbe.sum,date_format(tba.begindate,'%Y-%m-%d %H:%i:%S') begindate,date_format(tba.enddate,'%Y-%m-%d %H:%i:%S') enddate
  	from
  		sh_autosend_article tba
  	inner join
  		sp2_match_news tbb
  	on
  		tbb.id = tba.match_news_id
  	inner join
  		sh_admin_user tbc
  	on
  		tbc.id = tba.user_id
	inner join
		sh_article tbd
	on
		tbd.id = tba.article_id
	inner join
		(select article_id,count(*) sum from sh_autosend_article group by article_id) tbe
	on
		tbe.article_id = tba.article_id
	where
		1=1
        and tba.begindate &lt; #{currentDate}
		and tba.enddate &gt; #{currentDate}
	order by tbd.auto_sum desc
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sh_autosend_article
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectByArticleId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
  	select 
    <include refid="Base_Column_List" />
    from sh_autosend_article
    where article_id = #{articleId,jdbcType=INTEGER}
  </select>
  
  <select id="selectByArticleIdAndMatchNewsId" resultMap="BaseResultMap" parameterType="java.util.Map">
  	select 
    <include refid="Base_Column_List" />
    from sh_autosend_article
    where 1=1 
    and article_id = #{articleId}
    and match_news_id = #{matchNewsId}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sh_autosend_article
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="AutoSendArticle" >
    insert into sh_autosend_article (id, article_id, match_news_id, 
      enabled, user_id, begindate, 
      enddate)
    values (#{id,jdbcType=INTEGER}, #{articleId,jdbcType=VARCHAR}, #{matchNewsId,jdbcType=INTEGER}, 
      #{enabled,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, #{begindate,jdbcType=TIMESTAMP}, 
      #{enddate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="AutoSendArticle" >
    insert into sh_autosend_article
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="articleId != null" >
        article_id,
      </if>
      <if test="matchNewsId != null" >
        match_news_id,
      </if>
      <if test="enabled != null" >
        enabled,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="begindate != null" >
        begindate,
      </if>
      <if test="enddate != null" >
        enddate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="articleId != null" >
        #{articleId,jdbcType=VARCHAR},
      </if>
      <if test="matchNewsId != null" >
        #{matchNewsId,jdbcType=INTEGER},
      </if>
      <if test="enabled != null" >
        #{enabled,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="begindate != null" >
        #{begindate,jdbcType=TIMESTAMP},
      </if>
      <if test="enddate != null" >
        #{enddate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="AutoSendArticle" >
    update sh_autosend_article
    <set >
      <if test="matchNewsId != null" >
        match_news_id = #{matchNewsId,jdbcType=INTEGER},
      </if>
      <if test="enabled != null" >
        enabled = #{enabled,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="begindate != null" >
        begindate = #{begindate,jdbcType=TIMESTAMP},
      </if>
      <if test="enddate != null" >
        enddate = #{enddate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where article_id = #{articleId,jdbcType=VARCHAR}
    and match_news_id = #{matchNewsId}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="AutoSendArticle" >
    update sh_autosend_article
    set article_id = #{articleId,jdbcType=VARCHAR},
      match_news_id = #{matchNewsId,jdbcType=INTEGER},
      enabled = #{enabled,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      begindate = #{begindate,jdbcType=TIMESTAMP},
      enddate = #{enddate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>