<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.shinc.orm.mybatis.mappers.xhscomment.MatchLogMapper" >
  <resultMap id="BaseResultMap" type="MatchLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="match_news_id" property="matchNewsId" jdbcType="INTEGER" />
    <result column="collect_time" property="collectTime" jdbcType="TIMESTAMP" />
    <result column="is_success" property="isSuccess" jdbcType="BIT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, match_news_id, collect_time, is_success, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sp2_match_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sp2_match_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="MatchLog" >
    insert into sp2_match_log (id, match_news_id, collect_time, 
      is_success, remark)
    values (#{id,jdbcType=INTEGER}, #{matchNewsId,jdbcType=INTEGER}, #{collectTime,jdbcType=TIMESTAMP}, 
      #{isSuccess,jdbcType=BIT}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="MatchLog" >
    insert into sp2_match_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="matchNewsId != null" >
        match_news_id,
      </if>
      <if test="collectTime != null" >
        collect_time,
      </if>
      <if test="isSuccess != null" >
        is_success,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="matchNewsId != null" >
        #{matchNewsId,jdbcType=INTEGER},
      </if>
      <if test="collectTime != null" >
        #{collectTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isSuccess != null" >
        #{isSuccess,jdbcType=BIT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="MatchLog" >
    update sp2_match_log
    <set >
      <if test="matchNewsId != null" >
        match_news_id = #{matchNewsId,jdbcType=INTEGER},
      </if>
      <if test="collectTime != null" >
        collect_time = #{collectTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isSuccess != null" >
        is_success = #{isSuccess,jdbcType=BIT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="MatchLog" >
    update sp2_match_log
    set match_news_id = #{matchNewsId,jdbcType=INTEGER},
      collect_time = #{collectTime,jdbcType=TIMESTAMP},
      is_success = #{isSuccess,jdbcType=BIT},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>